# Xcode
.DS_Store
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# XcodeGen
PrintAssistant.xcodeproj/
